@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color:hsl(0, 0%, 8%);
}
.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.card {
  width: 300px;
  height: 466px;
  background-color:hsl(0, 0%, 12%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 

}

.info,
.job {
  text-align: center; 

} 
.job p{
    color:hsl(0, 0%, 100%);
}
.avater {
  margin-top: 33px;
}
img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.first {
  margin-top: 5px;
}
.links div {
  margin-bottom: 13px;
}
.links div button {
  width: 100%;
  padding: 10px 75px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color:hsl(0, 0%, 20%);
  color:hsl(0, 0%, 100%);
}
.name {
  margin-top: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 700; 
  font-size: 20px;
  color: hsl(0, 0%, 100%);
}
.city {
  margin-top: 10px; 
  color:  hsl(75, 94%, 57%) ;  
  font-family: 'Inter', sans-serif; 
  font-size: 13px;
}
.job {
  margin-top: 18px;
  margin-bottom: 10px; 
  font-family: 'Inter', sans-serif;  
  font-weight: 300;
  font-size: 12px;
}
